<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

<h1>Stupid Coach</h1>
<p>Here's your question:</p>

<div class=card1>
<h2><%= @question %><h2>
  <p><i> - You </i></p>
</div>

<div class=card2>
<h2><%= @answer %><h2>
  <p><i> - Coach </i></p>
</div>

<%= link_to "Continue the discussion!", ask_path, class: 'link' %>




